.title{
    color: silver;
}

.cards{
    background-color: black;
    display: flex;
    flex-wrap: wrap;

}
.card{
background-color:whitesmoke ;
padding: 3px;
border: solid 3px black;
border-radius: 15px;
width:23%;
text-align: center;
display:flex;
flex-direction: column;
justify-content: center;
}
.MTGCard{
    width:100%;
}